@model SimpleInvoice.Models.Invoice

@{
    ViewData["Title"] = "InvoiceResults";
}

<h1>InvoiceResults</h1>

<div>
    <h4>InvoiceResultsVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taxes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taxes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Net)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Net)
        </dd>
    </dl>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="InvoiceConfirmation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="Taxes" class="form-control" />
                <span asp-validation-for="Taxes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="Net" class="form-control" />
                <span asp-validation-for="Net" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="UnitName" class="form-control" />
                <span asp-validation-for="UnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Delete</a>
    |
</div>
